/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
    position: relative;
}

.modal-content p {
    color: #333;
}

.closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff4444;
    color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
}

.closeModal:hover {
    background-color: #cc0000;
}

/* Formulário */
.form-container {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

label {
    font-size: 1.8rem;
    display: block;
    margin-bottom: 10px;
    color: #555;
}

input,
textarea,
select {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Botão */
button {
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Animação */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Responsividade */
/* Responsividade */
@media (max-width: 768px) {
    .modal-content {
        margin: 10% auto;
        padding: 10px;
        width: 90%;
        max-height: 75vh;
        overflow-y: auto;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.8rem;
        text-align: center;
    }

    p {
        font-size: 1.2rem;
        border-bottom: #555 solid 1px;
    }

    label {
        font-size: 1.5rem;
    }

    input,
    textarea,
    select {
        font-size: 1.2rem;
        padding: 10px;
    }

    button {
        padding: 10px 15px;
        font-size: 1.2rem;
        margin-top: 5px;
    }

    .closeModal {
        width: 30px;
        height: 30px;
        font-size: 1.2rem;
    }
}
